/* Box model

1. Element
2. Padding
3. Border
4. Margin
*/

h1 {
    /* width, style, colour */
    border: 5px solid indianred;
    /* left, right, top, bottom properties (with width and stuff too) */

    margin: 9px;
    padding: 10px;
    /* position: absolute/relative/sticky/fixed */
}